In [1]:
# Import dependencies

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import requests
import time
import json
import csv

In [2]:
# Import CSV file
path = "college_data.csv"
college_data = pd.read_csv(path, encoding='utf-8')
college_data_df = pd.DataFrame(college_data)
college_data_df.head()

,Year,College_names,College_state,In_state_tuition,Out_of_state_tuition,Admissions_rate_overall,Enrollment,Student Size
0,2002,"""Washington State University""","""WA""",4520,12270,0.7708,5100,4406
1,2003,"""Washington State University""","""WA""",5280,13382,0.7798,6037,4590
2,2004,"""Washington State University""","""WA""",5628,14046,0.7529,5368,4728
3,2005,"""Washington State University""","""WA""",5980,14985,0.7389,22177,19078
4,2006,"""Washington State University""","""WA""",6448,16088,0.7706,22444,18995

In [3]:
college_df_sorted = college_data_df.sort_values(["College_names","Year"],ascending = (True))

In [4]:
del college_df_sorted['Enrollment']
college_df_sorted

,Year,College_names,College_state,In_state_tuition,Out_of_state_tuition,Admissions_rate_overall,Student Size
34,2002,"""Arizona State University-Tempe""","""AZ""",2585,11105,0.8474,35573
35,2003,"""Arizona State University-Tempe""","""AZ""",3595,12115,0.8840,37336
36,2004,"""Arizona State University-Tempe""","""AZ""",4064,12919,0.8610,38117
37,2005,"""Arizona State University-Tempe""","""AZ""",4406,15095,0.9102,39649
38,2006,"""Arizona State University-Tempe""","""AZ""",4688,15847,0.9242,38984
...,...,...,...,...,...,...,...
12,2014,"""Washington State University""","""WA""",12428,25510,0.8208,23585
13,2015,"""Washington State University""","""WA""",11967,25567,0.7964,24100
14,2016,"""Washington State University""","""WA""",11041,25673,0.7204,24362
15,2017,"""Washington State University""","""WA""",11391,25817,0.7306,24797
16,2018,"""Washington State University""","""WA""",11584,25820,0.7719,25675

In [9]:
college_df_sorted = college_df_sorted.rename(columns={'Student Size': 'Student_size'})


college_df_sorted['%_In_state_chng'] =college_df_sorted.groupby('College_names').In_state_tuition.pct_change()
college_df_sorted['%_Out_of_state_chng'] =college_df_sorted.groupby('College_names').Out_of_state_tuition.pct_change()
college_df_sorted['%_admissions_rate_chng'] =college_df_sorted.groupby('College_names').Admissions_rate_overall.pct_change()
college_df_sorted['%_Student_size_chng'] =college_df_sorted.groupby('College_names').Student_size.pct_change()

college_df_sorted.head(15)

,Year,College_names,College_state,In_state_tuition,Out_of_state_tuition,Admissions_rate_overall,Student_size,%_In_state_chng,%_Out_of_state_chng,%_admissions_rate_chng,%_Student_size_chng
34,2002,"""Arizona State University-Tempe""","""AZ""",2585,11105,0.8474,35573,NaN,NaN,NaN,NaN
35,2003,"""Arizona State University-Tempe""","""AZ""",3595,12115,0.8840,37336,0.390716,0.090950,0.043191,0.049560
36,2004,"""Arizona State University-Tempe""","""AZ""",4064,12919,0.8610,38117,0.130459,0.066364,-0.026018,0.020918
37,2005,"""Arizona State University-Tempe""","""AZ""",4406,15095,0.9102,39649,0.084154,0.168434,0.057143,0.040192
38,2006,"""Arizona State University-Tempe""","""AZ""",4688,15847,0.9242,38984,0.064004,0.049818,0.015381,-0.016772
39,2007,"""Arizona State University-Tempe""","""AZ""",4971,17003,0.9242,38597,0.060367,0.072948,0.000000,-0.009927
40,2008,"""Arizona State University-Tempe""","""AZ""",5661,17949,0.8206,52883,0.138805,0.055637,-0.112097,0.370132
41,2009,"""Arizona State University-Tempe""","""AZ""",6844,19629,0.9034,53902,0.208974,0.093599,0.100902,0.019269
42,2010,"""Arizona State University-Tempe""","""AZ""",8132,20596,0.9050,56232,0.188194,0.049264,0.001771,0.043227
43,2011,"""Arizona State University-Tempe""","""AZ""",9720,22319,0.8664,58184,0.195278,0.083657,-0.042652,0.034713
44,2012,"""Arizona State University-Tempe""","""AZ""",9724,22977,0.8891,59183,0.000412,0.029482,0.026200,0.017170
45,2013,"""Arizona State University-Tempe""","""AZ""",9861,23654,0.8023,38480,0.014089,0.029464,-0.097627,-0.349813
46,2014,"""Arizona State University-Tempe""","""AZ""",10157,24503,0.8433,39316,0.030017,0.035892,0.051103,0.021726
47,2015,"""Arizona State University-Tempe""","""AZ""",10158,25458,0.8291,41222,0.000098,0.038975,-0.016839,0.048479
48,2016,"""Arizona State University-Tempe""","""AZ""",10370,26470,0.8250,42224,0.020870,0.039752,-0.004945,0.024307

## Start graphing !!!

In [6]:
# In state vs Out of state scatterplot and regressions

# Use scatter plot to graph

# Set columns as variables for axis
in_state = college_df_sorted['In_state_tuition']
out_state = college_df_sorted['Out_of_state_tuition']


fig1 = plt.figure()
plt.scatter(in_state, out_state)

plt.plot(in_state, out_state, linestyle='none', marker="o", markeredgecolor="black")
plt.title('In State vs. Out State tuition over time (2002-2018)')
plt.xlabel("In Satet Tuition ($)")
plt.ylabel("Max Temperature (F)")
plt.grid()

plt.show()

fig1.savefig('Outputs/fig1.png')

In [7]:
# Admissions rate overall graph overtime

In [ ]:
#