In [15]:
# Import dependencies

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import requests
import time
import json
import csv

In [43]:
# Import CSV file
path = "college_data.csv"
college_data = pd.read_csv(path, encoding='utf-8')
college_data.head(10)

,Year,College_names,College_state,In_state_tuition,Out_of_state_tuition,Admissions_rate_overall,Enrollment,Student Size
0,2002,"""Washington State University""","""WA""",4520,12270,0.7708,5100,4406
1,2003,"""Washington State University""","""WA""",5280,13382,0.7798,6037,4590
2,2004,"""Washington State University""","""WA""",5628,14046,0.7529,5368,4728
3,2005,"""Washington State University""","""WA""",5980,14985,0.7389,22177,19078
4,2006,"""Washington State University""","""WA""",6448,16088,0.7706,22444,18995
5,2007,"""Washington State University""","""WA""",6866,17180,0.7592,22412,19822
6,2008,"""Washington State University""","""WA""",7564,18600,0.7221,23223,20690
7,2009,"""Washington State University""","""WA""",8489,19565,0.7626,24080,21312
8,2010,"""Washington State University""","""WA""",9489,20531,0.6953,24742,21354
9,2011,"""Washington State University""","""WA""",10799,22077,0.8354,24659,22421

In [52]:
# with open(path, newline='') as csvfile:
#     college_csv = csv.reader(csvfile, delimiter=',')
# #store header
#     header = next(college_csv)
# #creating empty lists for data
#     row = []
#     IST = []
#     IST_change = ['0']
# #adding months and revenue to their lists
#     for x in college_csv:
#         IST.append(int(x[3]))
#         row.append((x[0]))
# for x in IST:
#     print(x)
#     if (x-1)[1] == x[1]: 
#         IST_change.append(IST[x+1]-IST[x])
#     else:
#         IST_change.append(0)
        
# for x in range(len(OSU_IST)-1):
#     IST_change.append(OSU_IST[x+1]-OSU_IST[x])
#     print(IST_change)
prev_row = []

for index,row in college_data.iterrows():
    print(index)
    print(row[-1])
    
    if prev_row.empty():
        print("Prev_row is empty must be first iteration")
        pass

    elif row[1] != prev_row[1]:
        # We know that the college has changed        
        print("Is new college")
    else:
        # Calculate tbhe change in IST
        print("Doin a math")
    
    prev_row = row
    
college_data['change_IST'] = IST_change
# OSU['% change of in state tuition'] = 
# college_data['In_state_tuition'].astype(int)
college_data['change_IST'] = college_data['change_IST'].astype(int)
# college_data['change_IST_percent'].astype(int)
college_data['change_IST_percent'] = (college_data['change_IST'])/(college_data['In_state_tuition'])*100
college_data.head(25)

0
4406

AttributeError: 'list' object has no attribute 'empty'